---
import { ThreeDotsIcon } from "@component/ThreeDotsIcon";
import { StoryIcon } from '@component/StoryIcon';
import { AddIcon } from "@component/AddIcon";
import { BlurImage } from "@component/BlurImage";
import { Followers } from "@component/Followers";
import { Modal } from  "@component/Modal";
import { UserIcon } from "@component/UserIcon";
import { MessageIcon } from "@component/MessageIcon";

import { generateDisplayname } from "@util/generateDisplayname";
import { getRandomInt } from "@util/getRandomInt";
import { getHash } from '@util/getHash';
import { generateUsername } from '@util/generateUsername';
import { generateLoremText } from '@util/generateLoremText';

import './Profile.scss';

export interface Props {
	userName?: string;
    displayName?: string;
    userAvatar?: string;
    posts?: Array<string>;
    stories?: Array<string>;
    numberOfFollowers?: number;
    numberOfFollowing?: number;
    bio?: string;
}

const userCookie = "testtest";

const {
    userName = generateUsername(getRandomInt(1,15)),
    displayName = generateDisplayname(1, 3),
    userAvatar = getHash(),
    posts= [...Array(20)].map(() => getHash()),
    stories= [...Array(4)].map(() => { 
        return {hash: getHash(), label: generateDisplayname(1,1) } }),
    numberOfFollowers = getRandomInt( 1, 200 ),
    numberOfFollowing = getRandomInt( 1, 200 ),
    bio = generateLoremText(2,20),
} = Astro.props as Props
---

<div class="profile__Profile">
    <div class='profile__Data'>
        <div class='profile__Data_avatar'>
            <BlurImage hash={userAvatar} />
        </div>
        <div class='profile__Data_data'>
            <div class='profile__Data_username'>{userName}</div>
            <div class='profile__Data_following'><UserIcon /> Following</div>
            <a class='profile__Data_message' href={"/addchat?displayName=" + encodeURI(encodeURIComponent(displayName)) + "&hash=" + encodeURI(encodeURIComponent(userAvatar)) + "&userName=" +  encodeURI(encodeURIComponent(userName))}><MessageIcon />Message</a>
            <div class='profile__Data_add'>
                <AddIcon />
            </div>
            <div class='profile__Data_option'>
                <ThreeDotsIcon>
                    <p>Vitae cum voluptates iure dolorem. Adipisci quibusdam praesentium sed omnis ut similique ut. Omnis in saepe quis repudiandae molestiae. Nemo consequuntur maiores ut deserunt assumenda. Voluptatem qui dolorum deserunt assumenda voluptas quo. Ipsam eveniet maiores ullam debitis.</p>
                </ThreeDotsIcon>
            </div>
        </div>
        <div class='profile__Stats_stats'>
            <div class='profile__Stats_post'><span class='profile__Stats_number'>{ posts.length }</span> posts</div>
            <div class='profile__Stats_followers'><span class='profile__Stats_number'>{ numberOfFollowers }</span> followers</div>
            <div class='profile__Stats_following'><span class='profile__Stats_number'>{ numberOfFollowing }</span> following</div>
        </div>
        <div class='profile__Bio'>
            <span class='profile__Bio_displayName'>{ displayName }</span><br/>
            {bio.replace(/(?:\r\n|\r|\n)/g, '<br>')}<br/>
            Followed by _thewanderingartteacher_, wassaicproject and 130 more
        </div>
    </div>

    <div class='profile__Stories'>
        {stories.map((story) =>
            <div class='profile__Stories_story'>
                <StoryIcon hash={story.hash} />
                <div class="storyLable">{story.label}</div>
            </div>
        )}
    </div>
    <div class='profile__Icons'>
        <div class='profile__Icons_grid'></div>
        <div class='profile__Icons_feed'></div>
        <div class='profile__Icons_'></div>
        <div class='profile__Icons_bookmark'></div>
    </div>
    <div class='profile__Grid'>
        {posts.map((h, i) =>
            <div class='profile__Grid_item'><a href={"/post/" + encodeURI(encodeURIComponent(h))}><BlurImage hash={h} /></a></div>
        )}
    </div>
    <Modal className={["closed", "modal__Followers"]}>
        <Followers />
    </Modal>
   
</div>

<script data-userCookie={userCookie}>
    const followersTrigger = document.querySelectorAll(".profile__Data_following");
	const followersModal = document.querySelector(".modal__Followers");

	followersTrigger.forEach((trigger) => {
		trigger.addEventListener("click", () => { 
			followersModal.classList.remove("closed");
			document.body.classList.add('scrollFreeze');
		});
	});
</script>